/* !.1024resolution________________________ */
@media(max-width: 1024px) {
    .header__nav,
    .header__button {
        display: none;
    }
    .header__menu-btn {
        display: block;
    }
    .header {
    margin-bottom: 50px;
    justify-content: space-between;
    }
    .hero {
        padding-top: 50px;
    }
    .hero__title {
    font-size: 53px;
    font-weight: bold;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about__content{
        text-align: center;
        display: contents;
    }
    .about__articles{
        font-size: 24px;
    }
    .about__article{
        padding: 5px 5px;
    }
    .about__image {
        display: flex;
        margin: 40px 40px;
    }
    .offers__container {
        display: flex;
    }
    .offers__content {
        text-align: center;
        margin: 15px 15px;
        flex: auto;
    }
    .offers__text {
        font-size: 22px;
        padding: 15px 20px;
    }
    .showcases {
        display: flex;
        flex-wrap: wrap;
    }
    .showcases__title {
        text-align: center;
        font-size: 53px;
    }
    .showcases__text {
        font-size: 23px;
        text-align: center;
    }
    .showcases_gallery {
        display: flex;
        /* width: auto; */
    }
    .testimonials__title {
        font-size: 53px;
    }
    .testimonials__content {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:768px){
    .wrapper{
        max-width:768px;
        margin: 0 auto;
        padding: 0px 15px;
    }
    .hero__title{
        font-size: 40px;
        font-weight: bold;
    }
    .hero__subtitle{
        font-size: 21px;
    }
    .about{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 30px;
        width: 100%;
        align-content: flex-end;
        justify-content: center;
    }
    .about__content {
        text-align: center;

    }
    .about__title{
        font-size: 40px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
    }
    .about__articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin-bottom: 20px;
    }
    .about__image {
        width: 243px;
        height: 253px;
    }
    .offers__container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: row;
    }
    .offers__list {
        display: block;
    }
    .offers__item  {
        display: contents;
    }

/* !SHOWCASES */

    .showcases {
        flex-wrap: wrap;
    }
    .showcases__title {
        font-size: 40px;
        display: flex;
        text-align: center;
    }
    .showcases__text {
        text-align: center;
    }
    .showcases_gallery {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
    }
    .gallery__image {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .testimonials__title {
        font-size: 40px;
    }
    .testimonials__content {
        flex-wrap: wrap;
    }
    .testimonials__article {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    }
}

@media(max-width: 568px){
    .wrapper {
        max-width: 568px;
        margin: 0 auto;
        padding: 0px 15px;
    }

    .about {
        display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px;
    }
    .about__articles {
        display: flex;
        text-align: initial;
    }
    .offers {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .offers__list{
        display: block;
    }
    .about__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 275px;
        height: 260px;
    }

    .testimonials__article {
        padding: 30px;
        flex-direction: column;
        align-items: center;
        }
    .gallery__image {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
    }
    .showcases {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .testimonials__content {
        display: flex;
    }
    .testimonials__article {
        display: flex;
        flex-wrap: wrap;
    }
}
