/* ! Base Styles
---------------------------------------------------------------- */

body {
    font-family: 'Nunito Sans', sans-serif;
    background: #EBEBEB;
}

.wrapper {
    max-width: 1230px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* ! Header
---------------------------------------------------------------- */
.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    width: 80px;
    height: 80px;
    margin-right: 80px;
    background: url("../assets/logo/cat-logo.jpg") center/cover no-repeat;
}

.header__nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header__link {
    margin: 0 5px;
    font-size: 16px;
    line-height: 150%;
    color: #2B2B2B;
}

.header__button {
    padding: 11px 15px;
    background: #423F3E;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    outline: none;
    border: none;
}

.header__menu-btn{
    display: none;
    border: none;
    outline: none;
}

/* ! Hero
---------------------------------------------------------------- */
.hero {
    padding: 200px 0;
}

.hero__content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.hero__title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    color: #2B2B2B;
}

.hero__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #2B2B2B;
}

/* ! About
======================================================= */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 70px 0;
}

.about__title {
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 53px;
    line-height: 120%;
    color: #2B2B2B;
}

.about__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* .about__article-arrow {
    background: url("../assets/about/arrow-1.png") center/cover no-repeat;
}
.about__arrow {
    background: url("/assets/about/arrow-2.png") center/cover no-repeat;
} */

.about__image {
    width: 530px;
    height: 530px;
    background: url("../assets/about/cat-logo.jpg") center/cover no-repeat;
}

.about__articles {
    display: flex;
}

.about__article {
    width: 260px;
    margin-right: 50px;
}

.about__article-preview {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2B2B2B;
}

.about__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2B2B2B;
    /* background: url("../icons/Icon.svg")  center/cover no-repeat; */
}

.about__arrow {
    margin-left: 5px;
    margin-top: 5px;
}

/* ! Offers
======================================================= */

.offers {
    padding: 20px 0;
    /* background: coral; */
    justify-content: center;
}

.offers__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* text-align: center; */
}

.offers__content {
    width: 450px;

}

.offers__title {
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 53px;
    line-height: 120%;
    color: #2B2B2B;
}

.offers__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2B2B2B;
}

.offers__list {
    columns: 2;
    font-weight: bold;
}

ul {
    list-style: none;
}


.offers__item {
    margin-bottom: 8px;
    font-family: Nunito Sans;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 25px;
    line-height: 42px;
    color: #2B2B2B;
}

/* ! Cases
======================================================= */

.showcases {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.showcases__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.showcases__content {
    max-width: 500px;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.showcases__title {
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    color: #2B2B2B;
}

.showcases__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2B2B2B;
}

.showcases__content {
    max-width: 500px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gallery__image {
    margin: 15px 15px;
    Width: 240px;
    Height: 295px;
    display: flex;
    border-radius: 5px;
}

.showcases_gallery {
    display: flex;
    width: 70%;
}

/* ! testimonials
======================================================= */

.testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px 0;
}

.testimonials__title {
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 53px;
    line-height: 120%;
    color: rgb(43, 43, 43);
    text-align: center;
}

.testimonials__content {
    display: flex;
}

.testimonials__article {
    /* border-radius: 60px; */
    box-shadow: 10px 10px 40px -1px rgb(1 1 1 / 70%);
    margin: 81px;
    padding: 60px;
}

.testimonials__name {
    margin-top: 20px;
    display: block;
    font-weight: bold;
}


/* ! Footer
======================================================= */
.footer {
    display: flex;
    justify-content: space-between;
}

.footer__icons {
    margin: 5px;
    display: block;
}


.footer__container {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-weight: bold;
}

.footer__title {
    margin-bottom: 20px;
}

.footer__icons {
    margin-bottom: 20px;
}

.footer__subtext {
    margin-bottom: 25px;
}
.footer__logo {
    width: 81px; 
    height: 116px;
}
